<div class="container">
<mat-button-toggle-group class="button-container" name="fontStyle" aria-label="Font Style">
  <mat-button-toggle  class="button" value="bold">4</mat-button-toggle>
  <mat-button-toggle class="button"  value="italic">12</mat-button-toggle>
  <mat-button-toggle  class="button"  value="underline">24</mat-button-toggle>
  <mat-button-toggle  class="button"  value="underline">52</mat-button-toggle>
  <mat-button-toggle  class="button"  value="underline">
    <div class="other">Others:
   <div> <input type="text" maxlength="3" pattern="\d*"  ></div>
    <div class="step">
      <mat-icon aria-hidden="false" aria-label="Example home icon">arrow_drop_up</mat-icon>
      <mat-icon aria-hidden="false" aria-label="Example home icon">arrow_drop_down</mat-icon>
    </div>
  </div>
  </mat-button-toggle>
</mat-button-toggle-group>


</div>